/*======================
-----------Globales-----------
======================*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}
p {
    color: #fff;
}
a {
    text-decoration: none;
}

/*======================
-----------Nav-----------
======================*/
.transparente {
    background-color: transparent;
}
.negro {
    background-color: #000;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar-brand img {
    max-height: 40px;
}
.nav-item {
    margin: 0px 5px;
}
.nav-link {
    padding: .5rem;
    opacity: 1;
}
/*======================
-----------carousel-----------
======================*/
@media (min-width: 1200px) {
    .carousel-item {
        max-height: 100vh;
    }
}
/*======================
-----------presentacion-----------
======================*/
.presentacion__icono i {
    font-size: 28px;
}
.presentacion__texto p {
    font-weight: 300;
}

/*======================
------------Destacados / cards----------
======================*/
.card {
    margin: .8rem auto;
    width: 80%;
}
.card img {
    height: 172px;
}
.card-title {
    font-weight: 400;
}
.card-text {
    font-weight: 300;
}
@media (min-width: 768px) {
    .card {
        margin: .8rem .5rem;
        width: 100%;
    }
}
/*======================
-----------formulario-----------
======================*/
form {
    display: flex;
    flex-direction: column;
}
form label {
    padding: .3rem 0rem;
}
.form_item {
    margin: .5rem 0rem;
}
.tooltip-inner {
    color: #fff;
    background-color: var(--bs-info);
    font-weight: 400;
}
.tooltip {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    opacity: 1 !important;
}

/*======================
-----------footer-----------
======================*/

.footer__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    width: 70%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .footer__contenido {
        flex-direction: row;
    }
}
.redes-sociales i {
    vertical-align: middle;
    color: #fff;
    font-size: 35px;
    padding: 5px;
    margin: 0px 2px;
}

.jez {
    background-color: #2e2e2e;
}
.jez p {
    margin: 0;
    color: #fff;
    padding: 2rem 3rem;
    text-align: center;
    font-size: 16px;
}
.jez a {
    color: #00ad00;
    padding: .5rem 0rem;
}
.jez a:hover {
    color: #008100;
    border-bottom: 1px solid white;
}