
:root {
    --texto: #212529;
    --card: #707070;
}

body {
    font-family: 'Roboto', sans-serif;
}
/*======================
-----------utilidades-----------
======================*/
.medium {
    font-weight: 500;
}
.light {
    font-weight: 300;
}


/*======================
-----------nav-----------
======================*/
.navbar-brand img {
    width: 86px;
}
.nav-item {
    font-size: 1.1rem;
}
.nav-item a:hover {
    opacity: .6;
}
@media (min-width: 768px) {
    .nav-item {
        font-size: 1.3rem;
    }
}
/*======================
-----------card-----------
======================*/
.card {
    min-width: 18rem;
}
.card-title {
    font-size: 20px;
    font-weight: 300;
    color: var(--texto);
}
.card-text {
    font-size: 16px;
    font-weight: 300;
    color: var(--card);
}
.ubicacion {
    font-size: 13px;
}
.list-group-item {
    font-size: 16px;
    font-weight: 300;
    color: var(--card);
}
/*======================
-----------formulario-----------
======================*/
.titulo-formulario {
    font-size: 21px;
    text-align: center;
}
form .btn:hover {
    opacity: .9;
}
/*======================
-----------footer-----------
======================*/
.contenedor {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

footer img {
    width: 82px;
}
footer p {
    color: var(--card);
}

.jez {
    background-color: #2e2e2e;
}
.jez p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    padding: 2rem 3rem;
    text-align: center;
}
.jez a {
    color: #00ad00;
    padding: .5rem 0rem;
}
.jez a:hover {
    color: #008100;
    border-bottom: 1px solid white;
}