/*======================
-----------Globales-----------
======================*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
p {
    color: #fff;
}


/*======================
-----------Nav-----------
======================*/
.transparente {
    background-color: transparent;
}
.negro {
    background-color: #000;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar-brand img {
    max-height: 40px;
}
.nav-item {
    margin: 0px 5px;
}
.nav-link {
    padding: .5rem;
    opacity: 1;
}
/*======================
-----------carousel-----------
======================*/
@media (min-width: 1200px) {
    .carousel-item {
        max-height: 100vh;
    }
}
/*======================
-----------presentacion-----------
======================*/
.presentacion__icono i {
    font-size: 28px;
}
.presentacion__texto p {
    font-weight: 300;
}

/*======================
------------Destacados / cards----------
======================*/
.card img {
    height: 172px;
}
.card-title {
    font-weight: 400;
}
.card-text {
    font-weight: 300;
}