body {
    font-family: 'Roboto', sans-serif;
}
/*======================
-----------utilidades-----------
======================*/
.medium {
    font-weight: 500;
}
.light {
    font-weight: 300;
}


/*======================
-----------nav-----------
======================*/
.navbar-brand img {
    width: 86px;
}

/*======================
-----------card-----------
======================*/
.card {
    min-width: 18rem;
}
.card-title {
    font-size: 20px;
    font-weight: 300;
    color: #212529;
}
.card-text {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}
.ubicacion {
    font-size: 13px;
}
.list-group-item {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}
/*======================
-----------formulario-----------
======================*/
.titulo-formulario {
    font-size: 21px;
    text-align: center;
}

/*======================
-----------footer-----------
======================*/
.contenedor {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

footer img {
    width: 82px;
}
footer p {
    color: #707070;
}
