/* Paleta de colores*/
:root {
    --negro: #000;
    --blanco: #fff;
    --gris_oscuro: #1e1a13;
    --marron: #2e2e2e;
}
/*======================
-----------Generales-----------
======================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    color: #ffffff;
}
a {
    text-decoration: none;
}
/*======================
-----------
header
-----------
======================*/
header {
    max-height: 100vh;
}
.titulo h1 {
    text-align: center;
    font-size: 30px;
    padding: .5rem;
    font-weight: 500;
}
.bg-header {
    background-image: url('../img/bg-header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: 70vw;
}

@media (min-width: 768px) {
    .titulo h1 {
        font-size: 50px;
    }
    .bg-header {
        height: 55vw;
    }
}
@media (min-width: 1200px) {
    .bg-header {
        height: 45vw;
    }
}
/*======================
-----------
Descripcion
-----------
======================*/
.desc-section {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    width: 80%;
    margin: 2rem auto;
    padding-top: 2rem;
}
.desc-section p {
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding: .5rem 1rem;
}
.desc-section img {
    width: 90%;
    padding: 1rem;
}
@media (min-width: 768px) {
    .desc-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        width: 90%;
    }
    .desc-section div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*======================
-----------
Caracteristicas
-----------
======================*/
.seccion-caracteristicas {
    background-color: var(--gris_oscuro);
}
.seccion-caracteristicas h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.caracteristicas {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
}
.caracteristicas__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
}
.caracteristicas__elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 2.2rem;
    font-weight: 300;
    width: 100%;
}
.caracteristicas__elemento p {
    padding: 16px;
    font-size: 1.1rem;
}
@media (min-width: 576px) {
    .seccion-caracteristicas h2 {
        font-size: 2.4rem;
    }
    .caracteristicas__elemento {  
        font-size: 2.3rem;
    }
    .caracteristicas__elemento p {
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    .seccion-caracteristicas h2 {
        font-size: 3rem;
    }
    .caracteristicas__elemento {  
        font-size: 3rem;
    }
    .caracteristicas__elemento p {
        font-size: 2.1rem;
    }
}
/*======================
-----------
fotos
-----------
======================*/
.fotos {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
    padding: 4rem 0rem;
}
.fotos > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotos img {
    width: 70%;
}
@media (min-width: 576px) {
    .fotos {
        grid-template-columns: repeat(3, 1fr);
        column-gap: .5rem;
    }

    .fotos img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .fotos {
        column-gap: 1.5rem;
        padding: 6rem 0rem;
    }
}

/*======================
-----------
footer
-----------
======================*/
.footer {
    background-color: #1e1a13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer > p {
    text-align: center;
    color: var(--blanco);
    padding: 4rem .5rem;
    font-size: 1rem;
    font-weight: 300;
}
footer a{
    color: var(--blanco);
}

footer > p > a:hover {
    opacity: .7;
    border-bottom: 1px solid var(--blanco);
}

footer div {
    background-color: #2e2e2e;
    width: 100%;
}
footer > div > p {
    color: var(--blanco);
    text-align: center;
    padding: 2rem 0rem;
}
footer div a {
    color: #00ad00;
    padding: .5rem 0rem;
}
footer div a:hover {
    color: #008100;
    border-bottom: 1px solid var(--blanco);
}
@media (min-width: 768px) {
    .footer p {
        font-size: 1.3rem;
    }
}